<body>

<h1>Elige El modo de Juego</h1>


<form method="get" action="/modoJuego/iniciarJuegoNormal">
<input type="submit" value="Juego Normal">
</form>

<form method="get" action="/modoJuego/juegoPersonalizado">
<input type="submit" value="Juego Personlizado">
</form>



</body>