
<body>

<h1>Buscaminas etc </h1>

<h2>Menu </h2>
<form method="get" action="/modoJuego">
<input type="submit" value="Elegir Modo de Juego">
</form>
<form method="get" action="/reglas">
<input type="submit" value="Reglas">
</form>


</body>
