
<head>
<!--#<link rel="stylesheet" href="style.css">-->
<style>
    table, th,   td {
    border: 1px solid black;
    

    }
    td {
        padding-top: 15px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 15px;
    }
</style>
<!--#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">-->
</head>
<body>
<h1><%=@mensajeFinJuego%> </h1>
<h1>Buscaminas etc </h1>
<form method="get" action="/">
    <input type="submit" value="Menu Principal">
</form>
<form method="get" action="/reiniciar">
    <input type="submit" value="Reiniciar">
</form>
<div>
    <%=@stringTablero%> 
 </div>

<form method="post" action="/jugada">
    Eje x:<input type="text" name="ejeX">
    <br>
    Eje y:<input type="text" name="ejeY">
    <input type="submit" value="Enviar">

</form>

</body>
