
<head>
    <!--#<link rel="stylesheet" href="style.css">-->
    <style>
        table, th,   td {
        border: 1px solid black;
        }

        #tablero{
        border: 1px solid black;
        }
        #tablero{
            display:grid;
            grid-template-columns: repeat(8 , 32px);
            grid-template-rows: repeat(8 , 32px);
        }
        #tablero{
            padding-top: 20px;
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
    </style>
    <!--#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">-->
</head>
<body>
    <h1>Buscaminas etc </h1>
    
    <div id="tablero">
        <%=@prueba%> 
    </div>

    <form method="post" action="/jugada">
        Eje x:<input type="text" name="ejeX">
        <br>
        Eje y:<input type="text" name="ejeY">
        <input type="submit" value="Enviar">

    </form>
</body>
