
<body>

<h1>Personaliza tu tablero par ael juego</h1>

    <form method="post" action="/iniciarJuegoPersonalizado">
        Elige el tamaño del tablero:<input type="text" name="tamTablero">
        <br>
        Elige el numero de minas:<input type="text" name="numMinas">
        <input type="submit" value="Enviar">

    </form>
</body>
